<!DOCTYPE html>
<html>
  <head>
    <title>FiscalGangNext</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% if current_operator %>
      <%= render 'shared/logged' %>
    <% else %>
      <%= render 'shared/unlogged' %>
    <% end %>
  </body>
  <div id='modal-container'></div>
</html>
